html,
body{
    height: 100%;
}
 @media all and (min-width:0px) and (max-width:1000px) {
            #box .aa #ul2 li{
                width: 96%;
            }
            
        }
  @media all and (min-width:0px) and (max-width:800px) {
            #box #footer .f-top  ul li{
                width: 96%;
            }
           #box #nav  .xs{
               display: none;
           }
           #box #nav  .yc{
               display: block;
           }
        }   
#box{
    height: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
     
    header{
        width: 100%;
        padding-top: 62px;
        padding-bottom: 92px;
        background: #fff;
        background: url(../images/01.png) no-repeat center center;
        background-size: 70px ;
        border-bottom: 1px solid #ebebeb;
    }
    nav{
        width: 100%;
        background: #fff;
        .yc{
            text-align: center;
            padding: 20px;
            display: none,
        }
        ul{
            margin: auto;
            width: 420px;
            display: flex;
            justify-content: space-between;
           li{
               padding: 22px 0px;
               width: 70px;
               text-align: center;
               font-size: 12px;
               line-height: 12px;
              
           }
           li:first-child{
               border-bottom: 2px solid #e67e22;
           }
           li:hover{
               color: #e67e22;
           }
        }

    }
    section{
        flex: 1;
        background: #ccc;
        padding: 0px 100px;
         margin-top: 35px;
    
        .ul1{
           
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            background: #ccc;
            justify-content: space-between;

           .left{
               width: 64%;
                background: #ccc;
                margin-right:  20px;
            .list2{
                img{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }    
                .left1{
                    background: #fff;
                    padding-top: 40px;
                    padding-left: 35px;
                    padding-right: 35px;
                    margin-bottom: 35px;
                    // border-bottom: 1px solid red;
                
                    h2{
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                    }
                    h3{
                        text-align: center;
                        font-size: 12px;
                        color: #959595;
                        line-height: 12px;
                        padding-top: 20px;
                        padding-bottom: 36px;
                        a{
                            color: #e67e22;
                            font-size: 12px;
                            
                        }
                    }
                    p{
                        font-size: 18px;
                        line-height: 30px;
                        color: #444443;
                        margin-bottom: 30px;
                    }
                    .a1{
                        display:inline-block ;
                        padding: 12px 15px;
                        background: #e67e22;
                        font-size: 14px;
                        color: #fff;
                        font-weight: bold;
                        margin-bottom: 30px;
                       
                    }
                    .a1:hover{
                        background: black;
                    }
                    .div2{
                        padding-top: 26px;
                        padding-bottom: 43px;
                        border-top: 1px solid #ccc;
                        background: url(../images/b1.png) no-repeat left center;
                    }
                }


                                                       
            }
          .right{
              width: 32%;
              
              background: #ccc;
              div{
                  background: #fff;
                  padding: 24px 30px;
                  margin-bottom: 33px;
                  h2{
                     margin-bottom: 5px; 
                    border-bottom:1px solid #ccc;
                    a{
                        display:inline-block ;
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                        padding-bottom: 9px;
                        padding-right: 50px;
                        border-bottom: 1px solid #e67e22;
                    }
                    }
                    p{
                        font-size: 12px;
                        color: #e67e22;
                        padding-top: 22px;
                        line-height: 12px;
                    }
                    p:nth-of-type(1){
                        color: #505050;
                    }
                }
                .ri-center{
                    p{
                        text-align: center;
                        font-size: 14px;
                        background: #e67e22;
                          color: #fff;
                          padding: 13px;
                          margin-top: 20px;
                    }
                }
                .ri-bottom{
                    .p3{
                        font-size: 0px;
                        a{
                            display: inline-block;
                            padding: 7px;
                            border: 1px solid #ccc;
                            color: #959595;
                            font-size: 12px;
                            margin-right: 10px;
                            margin-bottom: 7px;
                        }
                    a:hover{
                        color: #fff;
                        background: #e67e22;
                    }
                    }
                }
            }
          }
    }

    footer{
      
        width: 100%;
       
        .f-top{
            background: #202020;
           
            padding: 0px 50px;
            
            
            ul{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
               
                li{
                    width: 25%;
                    margin-right: 90px;
                    margin-bottom: 30px;
                    h2{
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 20px;
                        a{
                            padding-top: 36px;
                            padding-bottom: 8px;
                            font-size: 20px;
                            color: #fff;
                            display: inline-block;
                            width: 90px;
                            border-bottom: #e67e22 1px solid;
                        }
                    }
                    p{
                       font-size: 0px;
                       a{
                           display: inline-block;
                            padding: 7px;
                            border: 1px solid #ccc;
                            color: #959595;
                            font-size: 12px;
                            margin-right: 10px;
                            margin-bottom: 7px;
                       }
                     a:hover{
                        color: #fff;
                        background: #e67e22;
                    }
                    }
                }
                .li1{
                    p{
                        a{
                            border: none;;
                        }
                    }
                }
            }
        }
        .f-bottom{
             text-align: center;
             background: #111111;
             border-top: 1px solid #ccc;
            p{
               font-size: 12px;
               color: #555555;
               padding: 33px;
            }
           
        }
    }
   
}
